<div class="container">
  <h1>Points Log</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead style="background-color: #488cf6">
    <tr>
    <th>Committee</th>
    <% @committee_rows.each do |row| %>
        <% row.committee_points_list.each do |point_row| %>
          <th><%= point_row.committee_name %> Points</th>
        <% end %>
        <% break %>
    <% end %>
      <th>Total Points</th>
    </tr>
    </thead>

    <tbody>
    <% @committee_rows.each do |row| %>
      <tr>
        <td><a href="/attendance_committee/<%= row.committee.id %>"><%= row.committee.name %></a></td>
        <% row.committee_points_list.each do |point_row| %>
          <td><%= point_row.points %></td>
        <% end %>
        <td><%= row.total_points %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>