<div class="container">
  <h1>Committee Log — <%= @committee.name %></h1>

  <h2 class="mt-4">Total points</h2>

  <table class="table mt-4">
    <thead>
    <tr>
      <th>Social Points</th>
      <th>Fundraising Points</th>
      <th>Campus Relations Points</th>
      <th>PR Points</th>
      <th>Community Outreach Points</th>
      <th>Give Back Points</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @committee_points_row.social_points %></td>
        <td><%= @committee_points_row.fundraising_points %></td>
        <td><%= @committee_points_row.campus_relations_points %></td>
        <td><%= @committee_points_row.pr_points %></td>
        <td><%= @committee_points_row.community_outreach_points %></td>
        <td><%= @committee_points_row.give_back_points %></td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Committee Log</h2>

  <table class="table mt-4">
    <thead>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Timestamp</th>
    </tr>
    </thead>

    <tbody>
    <% @committee.user_attendance_logs.each do |log| %>
      <tr>
        <td><%= log.user.first_name + ' ' + log.user.last_name %></td>
        <td><%= log.event.name %></td>
        <td><%= log.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', attendance_committee_index_path, :class => "btn btn-primary btn-large" %>
</div>