<div class="container">
  <h1>Committee Log — <%= @committee.name %></h1>

  <h2 class="mt-4">Total points</h2>

  <table class="table mt-4">
    <thead>
    <tr>
      <% @committee_points_row.committee_points_list.each do |point_row| %>
        <th><%= point_row.committee_name %> Points</th>
      <% end %>
    </tr>
    </thead>

    <tbody>
      <tr>
      <% @committee_points_row.committee_points_list.each do |point_row| %>
        <td><%= point_row.points %></td>
      <% end %>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Committee Log</h2>

  <table class="table mt-4">
    <thead>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Timestamp</th>
    </tr>
    </thead>

    <tbody>
    <% @committee.user_attendance_logs.each do |log| %>
      <tr>
        <td><%= log.user.first_name + ' ' + log.user.last_name %></td>
        <td><%= log.event.name %></td>
        <td><%= log.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', attendance_committee_index_path, :class => "btn btn-primary btn-large" %>
</div>