<div class="container">
  <div class="row">
    <div class="col-sm">
      <% if @pendingCheck %>
          <h1><b>Pending Members</b></h1>
          <p><i>To accept a member into FLASH, edit the member and assign them a committee. To add Admins or Executives, edit the member and assign them a membership level and leave the committee set to none</i></p>
      <% else %>
          <h1><b>Current Members</b></h1>
      <% end %>
    </div>
    <div class="col-sm">
      <% if @pendingCheck %>
        <%= link_to 'See Current FLASH Members', users_path, class: "btn btn-success float-right" %>
      <% else %>
        <%= link_to 'Show Pending Members', users_pending_path, class: "btn btn-success float-right" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table table-striped table-bordered table-hover">

        <thead style="background-color: #488cf6">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>UIN</th>
          <th>Membership Level</th>
          <th>Committee</th>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.uin %></td>
            <td><%= user.user_type_pretty %></td>
            <td>
              <%=
                if @pendingCheck
                  'TBD'
                elsif user.committee
                  user.committee.name
                else
                  user.user_type_pretty
                end
              %>
            </td>
            <td><%= user.email %></td>

            <td>
              <% if current_user.check_executive? && current_user != user && (current_user.check_admin? || User.user_types[user.user_type] < User.user_types[current_user.user_type]) %>
                <%= link_to 'Edit', edit_user_path(user), class: "btn btn-info" %>
                <%=
                  if @pendingCheck
                    link_to 'Delete', user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
                  else
                    link_to 'Remove', soft_delete_user_path(user), class: "btn btn-danger", data: { confirm: 'Are you sure?' }
                  end
                %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>
