<p id="notice"><%= notice %></p>

<h1>Current Members</h1>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>UIN</th>
      <th>Membership Level</th>
      <th>Committee</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @users.each do |user| %>
      <% if ((user.committee) || (user.user_type == "executive") || (user.user_type == "admin")) %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.uin %></td>
          <td><%= user.user_type %></td>
          <td>
            <%=
              if (user.committee)
                user.committee.name
              else
                user.user_type
              end
            %>
          </td>
          <td><%= link_to 'Show', user, class:"btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class:"btn btn-info" %></td>
          <td><%= link_to 'Delete', user, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Pending Member', users_pending_path, class:"btn btn-success" %>