<div class="container">
  <h1>Points Log</h1>

  <table class="table mt-4">
    <thead>
    <tr>
      <th>Freshman UIN</th>
      <% Committee.all.each do |committee| %>
        <th><%= committee.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>

    <% User.freshman.each do |usr| %>
      <tr>
        <% if current_user.check_executive? %>
          <td><a href="/attendance_user/<%= usr.id %>"><%= usr.first_name + " " + usr.last_name %></td>
        <% else %>
          <td><a href="/attendance_user/<%= usr.id %>"><%= usr.uin %></td>
        <% end %>
        <% Committee.all.each do |committee| %>
          <td><%= usr.points_for_committee(committee) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>