<div class="container">
  <h1>Committees</h1>

  <% if user_signed_in? && current_user.check_executive? %>
    <p>
      <%= button_to "New", new_committee_path, class: "btn btn-primary" %>
    </p>
  <% end %>

  <table class="table mr-1">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @committees.each do |committee| %>
      <tr>
        <td><%= committee.name %></td>
        <td class="btn-group mr-1">
          <% if user_signed_in? && (current_user.check_executive? || (current_user.check_staff? && current_user.committee_id == committee.id)) %>
            <%= button_to 'View', committee, method: :get, class: "btn btn-secondary" %>
          <% end %>
          <% if user_signed_in? && current_user.check_executive? %>
            <%= button_to 'Edit', edit_committee_path(committee), class: "btn btn-secondary" %>
            <%= button_to 'Delete', committee, method: :delete, data: { confirm: "Are you sure you wish to delete " + committee.name + "?" }, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
