<div class="container">
  <div class="row">
    <div class="col">
      <h1><b>Committees</b></h1>
    </div>
    <div class="col">
      <% if user_signed_in? && current_user.check_executive? %>
        <%= link_to "Create a Committee", new_committee_path, class: "btn btn-success float-right" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead style="background-color: #488cf6">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Number of Users</th>
          <% if user_signed_in? && current_user.check_executive? %>
            <% @committee_rows.each do |row| %>
              <% row.committee_points_list.each do |point_row| %>
                <th><%= point_row.committee_name %> Points</th>
              <% end %>
              <% break %>
            <% end %>
            <th>Total Points</th>
          <% end %>
          <% if user_signed_in? && current_user.check_staff? %>
            <th scope="col"></th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @committee_rows.each do |row| %>
          <tr>
            <td><%= row.committee.name %></td>
            <td><%= row.committee.users.length %></td>
            <% if user_signed_in? && current_user.check_executive? %>
              <% row.committee_points_list.each do |point_row| %>
                <td><%= point_row.points %></td>
              <% end %>
              <td><%= row.total_points %></td>
            <% end %>
            <% if user_signed_in? && current_user.check_staff? %>
              <td>
                <div class="btn-group float-right">
                  <% if user_signed_in? && (current_user.check_executive? || (current_user.check_staff? && current_user.committee_id == row.committee.id)) %>
                    <%= link_to 'View', row.committee, class: "btn btn-info mr-1" %>
                  <% end %>
                  <% if user_signed_in? && current_user.check_executive? %>
                    <%= link_to 'Edit', edit_committee_path(row.committee), class: "btn btn-info mr-1" %>
                    <%= link_to 'Delete', row.committee, method: :delete, data: { confirm: "Are you sure you wish to delete " + row.committee.name + "?" }, class: "btn btn-danger mr-1" %>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'datatables.js' %>
