<div class="container">
  <h1>Committee Viewer</h1>

  <h2><%= @committee.name %></h2>

  <% if user_signed_in? && (current_user.check_executive? || (current_user.check_staff? && current_user.committee_id == @committee.id)) %>
    <strong>Users:</strong>
    
    <table class="table mt-4">
      <thead>
      <tr>
        <% @committee_points_row.committee_points_list.each do |point_row| %>
          <th><%= point_row.committee_name %> Points</th>
        <% end %>
      </tr>
      </thead>

      <tbody>
        <tr>
        <% @committee_points_row.committee_points_list.each do |point_row| %>
          <td><%= point_row.points %></td>
        <% end %>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>UIN</th>
          <th>User Type</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @committee.users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.uin %></td>
            <td><%= user.user_type %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>Name</th>
          <% @user_rows.each do |row| %>
            <% row.user_points_list.each do |point_row| %>
              <th><%= point_row.committee_name %> Points</th>
            <% end %>
            <% break %>
        <% end %>
        </tr>
      </thead>

        <tbody>
          <% @user_rows.each do |row| %>
            <tr>
              <td><%= row.user.first_name + ' ' + row.user.last_name %></td>
              <% row.user_points_list.each do |point_row| %>
                <td><%= point_row.points %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  <div class="btn-group">
    <% if user_signed_in? && current_user.check_executive? %>
      <%= button_to 'Edit', edit_committee_path(@committee), method: :get, class: "btn btn-primary mr-1" %>
    <% end %>
    <%= button_to 'Back', committees_path, method: :get, class: "btn btn-primary mr-1" %>
  </div>
</div>
