<div class="container">
  <div class="row">
    <div class="col">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="btn-group" role="group">
          <%= f.submit "Log in", class: "btn btn-primary" %>
          <%= button_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-secondary" %><br />
        </div>
      <% end %>
    </div>
    <div class="col">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autocomplete: "first-name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "last-name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :uin %><br />
          <%= f.text_field :uin, class: "form-control" %>
        </div>

        <%= f.submit "Sign up", class: "btn btn-primary" %>

        <%= f.hidden_field :user_type, value: :base %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
